@use "./fontes";

header{
    .cabecalho{
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            @include fontes.fontePrincipal;
            font-size:fontes.$tamanhoFonteTitulo;
            margin-bottom: 0;
        }
        img{
            width: 40%;
            @media(min-width:750px){
                width: 5%;
            }
        }
    }
}